<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566174615642-7cgq79cdiao0oh3kkqu3n5idjbc0a5ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566174615642-7cgq79cdiao0oh3kkqu3n5idjbc0a5ne</string>
	<key>API_KEY</key>
	<string>AIzaSyBEriJRnFZVxQURpUDvIrovx8klF-kdZYg</string>
	<key>GCM_SENDER_ID</key>
	<string>566174615642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WWK.Toonkung</string>
	<key>PROJECT_ID</key>
	<string>toonkung</string>
	<key>STORAGE_BUCKET</key>
	<string>toonkung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566174615642:ios:c549f976ea8015e21ff063</string>
	<key>DATABASE_URL</key>
	<string>https://toonkung.firebaseio.com</string>
</dict>
</plist>